PORT=8080
NODE_ENV=development
CLIENT_URL=http://localhost:8080

# Database
DATABASE_URL=postgresql://username:password@localhost:5432/vocafit_db

# Redis
REDIS_USERNAME=your_redis_username
REDIS_PASSWORD=your_redis_password
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_ACCESS_SECRET=your_access_secret_key_here
JWT_REFRESH_SECRET=your_refresh_secret_key_here

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# SMTP / Mailgun (Using Gmail SMTP format)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password

# Midtrans
MIDTRANS_SERVER_KEY=SB-Mid-server-your_key
MIDTRANS_CLIENT_KEY=SB-Mid-client-your_key
MIDTRANS_IS_PRODUCTION=false